@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>Weather</h2>
<button class=" btn btn-lg">Get weather information</button>

<div class="jumbotron">

    <div class="col-lg-2">
        <h3>Location</h3>

        <p>
            Temperature

        </p>

        <p>
            Humidity

        </p>
    </div>
    <div class="col-lg-4">
        <h3 id="name"></h3>

        <p id="temp">

        </p>

        <p id="humidity">

        </p>
    </div>
    </div>



<script>
    $(document).ready(function () {
        $("button").click(function () {

            $.get("http://api.openweathermap.org/data/2.5/weather?q=Aalborg,dk&APPID=5118d2a1362cd5c92f3f4e9a0e37dcf5&units=imperial", function (response) {
        //response

                $("#name").text(response.name);
                $("#temp").text(response.main.temp);
                $("#humidity").text(response.main.humidity);
               // console.log(response);
             });
         });
    });
</script>